node_modules
.eslintcache

# JetBrains IDEs
.idea
# Visual Studio Code
.vscode

# Next js files
.next

# Slidev build output (npm run slides:build)
dist

# Local env file
.env.local

# OS X
.DS_Store
