.movieList {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1rem;
}

.innerContainer {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
}

.darkMode {
  color: #f7f9fa;
  background: #000000;
}
